html,body{
    height: 100%;
}
body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.2em;
    background-color: rgb(245, 245, 245);
}
.header{
    position: relative;
    top:0;
    width: 100%;
    min-height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid rgb(59, 44, 85);
}
.header .titulo{
    display: inline-block;
    padding: 0;
    
}
.header .titulo > h1{
    margin: 15px 0 0;
    
}
.header > nav{
    margin: 15px;
    text-align: center;
}
.header > nav ul li{
    display: inline;
    list-style-type: none;
    
}
.menu a{
    text-decoration: none;
    color:rgb(88, 88, 90);
}
.logo{
    display: block;
    float: right;
    margin-right: 50px;
}
.logo > img{
    max-width: 75px;
    min-width: 75px;
}
.ficha{
    /*border: 1px solid black;
    border-radius: 8px;
    max-width: 300px;
    box-shadow: 1px 1px 3px rgb(156, 150, 150);
    background-color: rgb(224, 234, 241);*/
    text-align: center;
    padding: 3rem 2rem;
    background: rgb(193, 193, 228);
    box-shadow: 0.5rem .5rem rgb(200, 186, 223);
    outline: .1rem solid #7179c2;
    outline-offset: -1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.ficha:hover{
    outline: .2rem solid #7179c2;
    outline-offset: 0;
    border-radius: 10px;
}
.ficha > img{
    /*max-width: 300px;
    max-height: 200px;
    border-radius: 8px;
    margin-left: 0px;*/
    height: 10rem ;
}
.ficha:hover img{
    transform: scale(.9);
}
.ficha .datos> h3{
    padding: .5rem 0;
    color:#444;
    font-size: 2rem;
    text-align: center;
}
.ficha:hover .datos h3{
    color:rgb(100, 43, 146);
}
.ficha .btn{
    cursor: pointer;
    border: 1px solid #7179c2;
    background-color: transparent;
    height: 30px;
    width: 100px;
    color: #7179c2;
    font-size: 1em;
    border-radius: 10px;
}
.ficha .datos{
    font-size: 1.1rem;
    color: #444;
}
.ficha:hover .btn{
    color:rgb(100, 43, 146);
    outline: .2rem solid #7179c2;
    outline-offset: 0;
    border-radius: 10px;
}
.content{
    /*width: 80%;
    margin: 20px auto;*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    padding: 5px;
}